* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    /* SCREEN VIEW */
    width: 100%;
    height: 20vh;
    background-color: red;

    /* DISPLAY CONFIGURATION */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    /* SCREEN VIEW */
    width: 100%;
    height: 70vh;
    background-color: yellow;

    /* DISPLAY CONFIGURATION */
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {

    /* DISPLAY CONFIGURATION */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* SCREEN VIEW */
    width: 100%;
    height: 10vh;
    background-color: blue;
}

img {
    width: 500px;
    height: 360px;
}