*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mainContainer{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    font-family: monospace;
    font-size: 10;
}
